<%- include('header') %>

<div class="contant">
    <div class="wrapper reg_wrap">
        <div class="layout">
            <form action="" class="form phone" method="POST">
                <input type="email" placeholder="email" name="email">
                <input type="password" placeholder="password" name="password">
                <input type="submit" value="Войти">
            </form>
            <a href="reg" class="link">Регистрация</a>
        </div>
    </div>
   
</div>