<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>myTasknoTe</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        body {
            width: 100%;
            height: 100%;
        }
        .choose {
            width: 100vw;
            background-color: rgb(237, 240, 241);
            height: 100vh;
        }
        .choose__content {
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background-image: url(../assets/img/bg-1.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
        @font-face {
            font-family: Exo2-Light; /* Гарнитура шрифта */
            src: url(../assets/fonts/Exo2-Light.ttf);
        }
        .choose__line {
            width: 70vw;
            height: 300px;
            background-image: url(../assets/img/g446.png);
            background-size: 70%;
            background-position: -64% -38%;
            background-repeat: repeat-x;
            background-color: rgba(196, 210, 212, 0.664);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            font-family: Exo2-Light;
            color: rgb(21, 21, 32);
            font-size: 2.5em;
        }
        .choose__links {
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin-top: 70px;
        }
        .choose a {
            text-decoration: none;
            color: inherit;
            display: block;
        }
       .choose__link {
           padding: 10px 20px;
           font-size: x-large;
           background-color: beige;
       }
       .choose a:hover {
           border-bottom: 3px solid rgb(224, 174, 64);
           color: rgb(224, 174, 64);
       }
       .choose__title {
           margin-top: 30px;
           text-align: center;
       }
    </style>
</head>
<body>
    <div class="choose">
        <div class="choose__content">
            <div class="choose__line">
                <div class="choose__title">Выбери нужный <br><span>myTasknoTe</span></div>
                <div class="choose__links">
                    <div>
                        <a href="/forme">
                            <div class="choose__link">Для себя</div>
                        </a>
                    </div>
                    <div>
                        <a href="/fororg">
                            <div class="choose__link">Для организации</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
