<!DOCTYPE html>
<html lang="en">

<head>
 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title%></title>
    <link rel="stylesheet" href="../assets/css/style_org.css">
    
    <link rel="shortcut icon" href="./../favicon.ico" type="image/x-icon">
    <!-- <link rel="import" href="../elements/iron-block.html"> -->
    <script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>
</head>

<body>
    <header class="header">
       <a href="/"><div class="logo"><img src="/assets/img/logo.png" alt=""><span>myTasknoTe</span></div></a>
        <nav>
            <a href="/about" class="menu__link"> <span class="menu__text">Документация<div class="line__folder"><div class="line"></div></div></span></a>
            <a href="/ask" class="menu__link"> <span class="menu__text">Вопросы<div class="line__folder"><div class="line"></div></div></span></a>
            <a href="/download" class="menu__link"> <span class="menu__text">Загрузить<div class="line__folder"><div class="line"></div></div></span></a>
        </nav> 
    </header>