<%- include('header') %>
    <div class="contant">
        <div class="null__header"></div>
        <div class="wrapper reg__wrapper">
                <div class="border__line"></div>
                <div class="left__desc">-Пройдите регистрацию, чтобы начать пользование сервисом myTasknoTe.</br>-При возникновении вопросов или неполадок пишите нам в пункте меню "Вопросы".</br>-Регистрируясь вы даете согласие на обработку ваших персональных данных.</div>
                <form action="" class="reg__form" method="POST">
                    <h3>Начни свой путь прямо сейчас</h3>
                    <input type="text" placeholder="Логин" name="login">
                    <input type="text" placeholder="Имя" name="name">
                    <input type="email" name="email" placeholder="e-mail">
                    <input type="password" placeholder="password" name="password">
                    <input type="submit" value="Зарегестрироваться">
                </form>
                <div class="border__line"></div>
        </div>
        <div class="null_sher"></div>
    </div>