<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="../../assets/js/create_org.js">
</head>
<body>
    <div class="org">
        <div class="org__left_block">

        </div>
    </div>
    <div class="org__right_block">
        <div class="org__create_block">
            <h1>Создание структуры организации</h1>
            <form action="" type="POST">

            </form>
        </div>
    </div>
</body>
<script></script>
</html>